<div class = "footer">
    <div class = "col">
        <ul class = "colo">
                <li><a href="#">HOW IT WORKS</a></li>
                <li><a href="#">3D Printing Materials</a></li>
                <li><a href="#">3D Printing Technologies</a></li>
        </ul>
        
    </div>  
    <div class = "col">
        <ul class = "colo">
                <li><a href="#">HELP CENTER</a></li>
                <li><a href="#">Partnership</a></li>
                <li><a href="#">Crowdfunding</a></li>
        </ul>
    </div>  
    <div class = "col">
        <ul class = "colo">
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">3D printing marketplace</a></li>
        </ul>
    </div> 
    <div class = "col"> 
        <p>GET SOCIAL WITH US</p>
        <a href = "#"><img class = "contact" [src] = "'assets/image/face.png'"></a>
        <a href = "#"><img class = "contact" [src] = "'assets/image/tw.png'"></a>
        <a href = "#"><img class = "contact" [src] = "'assets/image/inst.png'"></a>
        
    </div>      
    <div class = "col1">
        <p>© 2019 GIZA, Inc.</p> 
        <p>Privacy</p> 
        <p>Terms</p> 
        <p>Content & Copyright</p> 
    </div>
</div> 