<div class="wrap_gallery">
  <h1 class="zag">OUR WORKS</h1>
    <div class = "gallery">
            <div class = "works">
                    <img class = "port" [src]="'assets/image/work1.jpg'" alt="">
            </div>
            <div class = "works">
                    <img class = "port" [src]="'assets/image/work2.jpg'" alt="">
            </div>
            <div class = "works">
                    <img class = "port" [src]="'assets/image/work6.jpg'" alt="">
            </div>
    </div>
    <div class = "see">
    <a href="#">SEE MORE</a>
    </div>
</div>