
<div class="wrap_how_it_works">
    <div id = "how" class = "howitwrks">
        <div class = "column1">
            <img class = "logo" [src]="'assets/image/conversation.png'" alt="">
            <p>Contact our specialist</p>
            <img class = "logo" [src]="'assets/image//printer.png'" alt="">
            <p>Printing</p>  
        </div>
        <div class = "column1">
            <img class = "logo" [src]="'assets/image/wallet.png'" alt="">
            <p>Prepayment</p> 
            <img class = "logo" [src]="'assets/image//box.png'" alt="">
            <p>Packaging and delivery </p> 
        </div>
    
</div>
</div>