<!--The content below is only a placeholder and can be replaced.-->

<app-header></app-header>
<div class="bcg_img">
    <img  [src]="'assets/image/4.jpg'" alt = "">
</div>
<div class = "wrap_about_how_it_works">
<app-about></app-about>
<app-how-it-works></app-how-it-works>
</div>
<app-gallery></app-gallery>
<div class="wrap_upload_form">
    <div id = "im" class = "background_upload">
    <img class = "gif" [src]="'assets/image/26.png'" alt="">
    </div>
<app-upload></app-upload>
<app-form></app-form>
</div>
<app-footer></app-footer>

  
 

<router-outlet></router-outlet>
