@import "../variables.scss";
*{
  margin:0;
  padding:0;
  font-family: MyriadProRegular;
 }

 a{
  text-decoration: none;
  font-size: $stdt;
  color:$color;
 }
  
    @font-face {
        font-family: "MyriadProRegular";
        src: url("assets/fonts/MyriadProRegular/MyriadProRegular.eot");
        src: url("assets/fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
        url("assets/fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
        url("assets/fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
      }
   
      // @font-face {
      //     font-family: "MyriadProCondRegular";
      //     src: url("assets/fonts/MyriadProCondRegular/MyriadProCondRegular.eot");
      //     src: url("assets/fonts/MyriadProCondRegular/MyriadProCondRegular.eot?#iefix")format("embedded-opentype"),
      //     url("assets/fonts/MyriadProCondRegular/MyriadProCondRegular.woff") format("woff"),
      //     url("assets/fonts/MyriadProCondRegular/MyriadProCondRegular.ttf") format("truetype");
      //     font-style: normal;
      //     font-weight: normal;
      // }
   
    